<html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pickme Safe</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../static/images/favicon.png" />
</head>

<body>
  <div class="container-scroller d-flex">
    <!-- partial:../../partials/_sidebar.html -->
    
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>Autoist</p>
          <span></span>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/get_otp">
            <i class="mdi mdi-view-quilt menu-icon"></i>
            <span class="menu-title">Dashboard</span>
            
          </a>
        </li>
       
        
        <li class="nav-item">
          <a class="nav-link" href="/veh_details">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Profile</span>
          </a>
        </li>
		 <li class="nav-item">
          <a class="nav-link" href="/add_driver">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Add driver</span>
          </a>
        </li>
		
		 <li class="nav-item">
          <a class="nav-link" href="/view_driver">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Driver details</span>
          </a>
        </li>
		 <li class="nav-item">
          <a class="nav-link" href="/report">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Reports</span>
          </a>
        </li>
        
      </ul>
    </nav>
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="navbar-brand-wrapper">
           
          </div>
          <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back, </h4>
          <ul class="navbar-nav navbar-nav-right">
            
            <li class="nav-item dropdown mr-1">
              <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-calendar mx-0"></i>
               
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                      <img src="../static/images/faces/face5.jpg" alt="image">
                  </div>
                 
                </a>
               
               
              </div>
            </li>
            
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
        <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link" href="#">
                <img src="../static/images/faces/face5.jpg" alt="profile"/>
              


              </a>
              
            </li>
            
            <li class="nav-item"> 
            <a href="/logout" class="dropdown-item">
                  <i class="mdi mdi-logout text-primary"></i>
                  Logout
                </a>
			</li>
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            
            <div class="col-6 mx-auto grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Get OTP</h4>
                  
                  <form class="form-inline" name="form1" method="post">
                    <label class="sr-only" for="inlineFormInputName2">Vehicle no</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" name="veh_no" id="inlineFormInputName2">
                  
                    
                   
                    <button type="submit" class="btn btn-primary mb-2">Get Otp</button>
                  </form>
				   {% if msg=="success" %}
				  <span style="color:#009933">Otp send success</span>
				
				  <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/veh_details';
}, 4000);
</script>

				  {% endif %}
				  {% if msg=="fail" %}
				  <span style="color:#FF0000">Vehicle details not found</span>
				  {% endif %}
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>
              </div>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="../../js/file-upload.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
